.register-container {
    width: 100%;
    height: 100vh;
    background: url(https://hinhanhdep.net/wp-content/uploads/2018/01/bo-suu-tap-hinh-nen-cuc-chat-danh-cho-dan-6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    padding-top: 65px;
    

    .form-register {
        width: 700px;
        height: auto;
        padding: 50px;
        margin: 0 auto;
        background-color: white;
        margin-top: 100px;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        border-radius: 10px;

        h2 {
            text-align: center;
            margin-bottom: 30px;
        }
    }
}