.homecontainer {
    width: 100%;

    .content {
        display: flex;
    }

    .menu_left {
        width: 20%;
        background-color: rgb(42, 161, 165);
        padding-top: 10px;


    }

    .list_products {
        width: 80%;
    }
}