.buyContainer {
    width: 100%;
    margin-top: 65px;

    .content {
        width: 60%;
        margin: 0 auto;
        margin-top: 65px;
    }

    
    .fa-plus {
        color: aquamarine;
    }

    .fa-minus {
        color: aquamarine;
    }

    .inp{
        width: 40px;
        height: 40px;
    }

    .mx-2 {
        margin-top: -5px;
    }
}