.navbar-container {

    width: 100%;
    height: 70px;
    background-color: black;
    line-height: 50px;
    // box-sizing: border-box;
    position: fixed;
    width: 100%;
    margin-top: -65px;
    z-index: 1000;
    //z-index: 1000 khi muốn phần tử nằm trên dùng thì sử dụng,
    //  con số trên phần tử lớn hơn phần tử khác đồng nghĩa nó sẽ xuất hiện phía trên.

    .logoicon {

        ul li {
            list-style-type: none;
            margin-left: 15px;
            margin-top: 15px;
            display: flex;
            animation-name: example;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            border: 1px solid black;
        }

        @keyframes example {
            0% {
                background-color: red;
                left: 0px;
                top: 0px;
            }

            25% {
                background-color: yellow;
                left: 200px;
                top: 0px;
            }

            50% {
                background-color: blue;
                left: 200px;
                top: 200px;
            }

            75% {
                background-color: green;
                left: 0px;
                top: 200px;
            }

            100% {
                background-color: red;
                left: 0px;
                top: 0px;
            }

            50% {
                border-radius: 50px;
            }

        }

        ul a {
            text-decoration: none !important;
            color: white;

        }
    }
}

.mainmenu {

    ul li {
        list-style-type: none;
        margin-right: 15px;
        margin-top: 12px;
        font-weight: 600;
        color: rgb(128, 232, 232);
        outline: none;
        cursor: pointer;

        .logout {
            color: white;
        }

    }

    ul a {
        text-decoration: none;
        color: white;
    }
}