.footerContainer {
    width: 100%;
    padding: 50px 0;
    background-color: rgb(247, 244, 244);

    .content {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;


        .contact {
            
            ul li {
                List-style: none;

                .fa-instagram {
                   color: red
               }
            }
        }
    }
}